.news {
    margin-top: 100px;
    &__title {
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 29px;
        color: #0022EA;
    }
    &__wrapper {
        display: flex;
        &_primary {
            margin-right: 18px;
            max-width: 585px;
            img {
                width: 585px;
                height: 371px;
            }
            &_date {
                font-family: 'Montserrat',sans-serif;
                font-size: 16px;
                color: #707070;
            }
            &_subtitle {
                font-family: 'Montserrat',sans-serif;
                font-size: 17px;
                font-weight: 600;
                line-height: 20px;
                color: #0022EA;
                margin-bottom: 5px;
                text-decoration: none;
                display: block;
                word-break: break-word;
            }
            &_descr {
                font-family: 'Montserrat',sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 18px;
                color: #000000;
            }
        }
        &_secondary {
            display: flex;
            flex-direction: column;
            &_block {
                display: flex;
                margin-bottom: 10px;
            }
            &_left {
                margin-right: 10px;
                img {
                    width: 260px;
                    height: 164px;
                }
            }
            &_right {
                max-width: 315px;
            }
            &_subtitle {
                font-family: 'Montserrat',sans-serif;
                font-size: 16px;
                font-weight: 600;
                line-height: 20px;
                color: #0022EA;
                margin-bottom: 5px;
                text-decoration: none;
                display: block;
                word-break: break-word;
            }
            &_descr {
                font-family: 'Montserrat',sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
                color: #000000;
            }
            &_date {
                font-family: 'Montserrat',sans-serif;
                font-size: 16px;
                color: #707070;
                margin-bottom: 5px;
            }
        }
    }
}