
body {
    margin: 0 auto;
    min-height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.mainContent {
    flex-grow: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');


@import 'header';
@import 'targets';
@import 'news';
@import 'slider';
@import 'sliderLast';
@import 'footer';